body {
	display: flex;
	justify-content: center;
	align-items: center;
}

source, img {
	width: 50%;
	height: 50%;
}

.container {
	background: hsla(89, 43%, 51%, 0.3);
	border-radius: 2em;
	margin: auto;
	display: flex;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
	.container {
		-webkit-backdrop-filter: blur(10px);
		backdrop-filter: blur(10px);
	}
}